# Data Collection

In this notebook, we will collect and organize the primary/source data for the project. The data will be collected from the following sources: Kaggle
We will take a look at the data and perform some basic exploratory data analysis to get a better understanding of the data.
We will also perform some data cleaning and data wrangling to prepare the data for the next steps in the project.

# Imports and loads

In [3]:
### Imports

import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
#Load Data
injury_data = pd.read_csv('./src/injuries.csv')
team_data = pd.read_csv('./src/team_rosters.csv')
#Added this to data so that we can have the column names to measure the stats of the players (we don't have to use the combine data if we don't want to)
player_data = pd.read_csv('./src/combine_data.csv')

print(f'Injury Shape: {injury_data.shape}, Team Shape: {team_data.shape}, Player Shape: {player_stats.shape}')

Injury Shape: (5682, 16), Team Shape: (46163, 37), Player Shape: (1797, 18)

# Data Discovery

## Injury Data

In [6]:
injury_data.head()

,season,game_type,team,week,gsis_id,position,full_name,first_name,last_name,report_primary_injury,report_secondary_injury,report_status,practice_primary_injury,practice_secondary_injury,practice_status,date_modified
0,2022,REG,ARI,1,00-0027993,C,Rodney Hudson,Rodney,Hudson,NaN,NaN,NaN,Not injury related - resting player,NaN,Did Not Participate In Practice,2022-09-07 21:10:03+00:00
1,2022,REG,ARI,1,00-0028946,LS,Aaron Brewer,Aaron,Brewer,NaN,NaN,NaN,Ankle,NaN,Full Participation in Practice,2022-09-09 19:55:06+00:00
2,2022,REG,ARI,1,00-0032127,LB,Markus Golden,Markus,Golden,NaN,NaN,NaN,Toe,NaN,Full Participation in Practice,2022-09-09 19:55:29+00:00
3,2022,REG,ARI,1,00-0034490,LB,Ezekiel Turner,Ezekiel,Turner,NaN,NaN,NaN,Shoulder,NaN,Full Participation in Practice,2022-09-09 19:55:44+00:00
4,2022,REG,ARI,1,00-0035924,RB,Jonathan Ward,Jonathan,Ward,NaN,NaN,NaN,Shoulder,NaN,Full Participation in Practice,2022-09-09 19:55:49+00:00

In [11]:
print(injury_data.dtypes)

season                        int64
game_type                    object
team                         object
week                          int64
gsis_id                      object
position                     object
full_name                    object
first_name                   object
last_name                    object
report_primary_injury        object
report_secondary_injury      object
report_status                object
practice_primary_injury      object
practice_secondary_injury    object
practice_status              object
date_modified                object
dtype: object

In [9]:
injury_data.describe()

       season         week
count  5682.0  5682.000000
mean   2022.0    10.288631
std       0.0     5.344045
min    2022.0     1.000000
25%    2022.0     6.000000
50%    2022.0    10.000000
75%    2022.0    15.000000
max    2022.0    22.000000

In [16]:
injury_data.isnull().sum()

season                          0
game_type                       0
team                            0
week                            0
gsis_id                         0
position                        0
full_name                       0
first_name                      0
last_name                       0
report_primary_injury        2937
report_secondary_injury      5483
report_status                2937
practice_primary_injury        27
practice_secondary_injury    5277
practice_status                 0
date_modified                   0
dtype: int64

## Team Data

In [68]:
team_data.head()

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
0,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.279
1,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.432
2,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.355
3,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.413
4,2022,TB,QB,QB,12.0,ACT,Tom Brady,Tom,Brady,1977-08-03,...,A01,Tom,BRA371156,25511,32004252-4137-1156-7ed0-8b9e44948f13,2000,2000.0,NE,199.0,45.202

In [67]:
team_data.sample(10)

,season,team,position,depth_chart_position,jersey_number,status,player_name,first_name,last_name,birth_date,...,status_description_abbr,football_name,esb_id,gsis_it_id,smart_id,entry_year,rookie_year,draft_club,draft_number,age
37152,2022,JAX,QB,QB,4.0,DEV,E.J. Perry,Ernest,Perry,1998-08-16,...,P01,E.J.,PER556525,54765,32005045-5255-6525-55d9-15c1ccbd72f3,2022,2022.0,NaN,NaN,24.110
2339,2022,DEN,DL,NT,98.0,ACT,Mike Purcell,Michael,Purcell,1991-04-20,...,A01,Mike,PUR087672,40347,32005055-5208-7672-171f-2d3c2eb649cd,2013,2013.0,NaN,NaN,31.663
38848,2022,CAR,RB,RB,37.0,DEV,John Lovett,John,Lovett,1999-08-28,...,P01,John,LOV557546,54914,32004c4f-5655-7546-7745-688b76713027,2022,2022.0,NaN,NaN,23.039
1917,2022,TB,LB,ILB,54.0,ACT,Lavonte David,Lavonte,David,1990-01-23,...,A01,Lavonte,DAV026654,38588,32004441-5602-6654-edb8-aa6da5673253,2012,2012.0,TB,58.0,32.671
26952,2022,WAS,QB,QB,17.0,DEV,Jake Fromm,William,Fromm,1998-07-30,...,P01,Jake,FRO325139,52575,32004652-4f32-5139-dbcd-9c79c7f41e56,2020,2020.0,BUF,167.0,24.309
13003,2022,PIT,DB,CB,20.0,ACT,Cameron Sutton,Cameron,Sutton,1995-02-27,...,A01,Cameron,SUT313402,44906,32005355-5431-3402-67cd-92ad57aa3382,2017,2017.0,PIT,94.0,27.537
6293,2022,KC,DL,NT,71.0,ACT,Danny Shelton,Danny,Shelton,1993-08-20,...,A01,Danny,SHE411954,42355,32005348-4541-1954-277c-fac0cfdab4aa,2015,2015.0,CLE,12.0,29.344
35539,2022,DAL,DB,CB,1.0,ACT,Kelvin Joseph,Kelvin,Joseph,1999-11-11,...,A01,Kelvin,JOS221287,53473,32004a4f-5322-1287-71cd-7df2402d9452,2021,2021.0,DAL,44.0,23.102
44855,2022,SF,QB,QB,13.0,INA,Brock Purdy,Brock,Purdy,1999-12-27,...,A01,Brock,PUR243289,54727,32005055-5224-3289-b108-8aab5e23b748,2022,2022.0,SF,262.0,22.727
9186,2022,TEN,OL,T,61.0,INA,Le'Raven Clark,Le'Raven,Clark,1993-04-22,...,A01,Le'Raven,CLA432150,43371,3200434c-4143-2150-9ff2-3f2c4170f288,2016,2016.0,IND,82.0,29.446

In [14]:
print(team_data.dtypes)

season                       int64
team                        object
position                    object
depth_chart_position        object
jersey_number              float64
status                      object
player_name                 object
first_name                  object
last_name                   object
birth_date                  object
height                     float64
weight                     float64
college                     object
player_id                   object
espn_id                    float64
sportradar_id               object
yahoo_id                   float64
rotowire_id                float64
pff_id                     float64
pfr_id                      object
fantasy_data_id            float64
sleeper_id                 float64
years_exp                    int64
headshot_url                object
ngs_position                object
week                         int64
game_type                   object
status_description_abbr     object
football_name               object
esb_id                      object
gsis_it_id                   int64
smart_id                    object
entry_year                   int64
rookie_year                float64
draft_club                  object
draft_number               float64
age                        float64
dtype: object

In [13]:
team_data.describe()

,season,jersey_number,height,weight,espn_id,yahoo_id,rotowire_id,pff_id,fantasy_data_id,sleeper_id,years_exp,week,gsis_it_id,entry_year,rookie_year,draft_number,age
count,46163.0,46018.000000,46117.000000,46161.000000,2.991400e+04,26254.000000,32527.000000,28350.000000,24679.000000,32527.000000,46163.000000,46163.000000,46163.000000,46163.000000,46162.000000,29563.000000,45638.000000
mean,2022.0,49.418793,74.136089,243.614935,3.185857e+06,30410.416927,13083.695637,34922.637354,19178.279185,5503.382052,3.360743,9.929359,48864.554383,2018.639257,2018.647892,112.274465,26.555763
std,0.0,29.247307,2.659819,48.069960,1.298371e+06,3744.692389,2418.622945,23191.863649,3062.447674,2212.790241,3.098262,5.657399,5398.989262,3.098262,3.102625,73.357222,3.094677
min,2022.0,1.000000,66.000000,0.000000,2.330000e+03,5228.000000,1350.000000,698.000000,430.000000,13.000000,0.000000,1.000000,25511.000000,2000.000000,2000.000000,1.000000,21.002000
25%,2022.0,24.000000,72.000000,204.000000,3.040031e+06,29399.000000,11833.000000,11101.000000,18024.500000,4080.000000,1.000000,5.000000,44949.000000,2017.000000,2017.000000,48.000000,24.323000
50%,2022.0,49.000000,74.000000,233.000000,3.144988e+06,31166.000000,13572.000000,39517.000000,19931.000000,5970.000000,3.000000,10.000000,48456.000000,2019.000000,2019.000000,104.000000,25.889000
75%,2022.0,75.000000,76.000000,290.000000,4.039505e+06,32673.000000,15053.000000,49699.000000,21187.000000,7412.000000,5.000000,15.000000,53637.000000,2021.000000,2021.000000,172.000000,28.145000
max,2022.0,99.000000,81.000000,1794.000000,4.820589e+06,33891.000000,16648.000000,143793.000000,22477.000000,8928.000000,22.000000,22.000000,55611.000000,2022.000000,2022.000000,262.000000,45.454000

In [15]:
team_data.isnull().sum()

season                         0
team                           0
position                       0
depth_chart_position           0
jersey_number                145
status                         0
player_name                    0
first_name                     0
last_name                      0
birth_date                   373
height                        46
weight                         2
college                       27
player_id                     27
espn_id                    16249
sportradar_id              13636
yahoo_id                   19909
rotowire_id                13636
pff_id                     17813
pfr_id                     24618
fantasy_data_id            21484
sleeper_id                 13636
years_exp                      0
headshot_url                1277
ngs_position               24768
week                           0
game_type                      0
status_description_abbr        0
football_name                  0
esb_id                        91
gsis_it_id                     0
smart_id                     148
entry_year                     0
rookie_year                    1
draft_club                 16600
draft_number               16600
age                          525
dtype: int64

## Player Data

In [19]:
player_data.head()

,season,draft_year,draft_team,draft_round,draft_ovr,pfr_id,cfb_id,player_name,pos,school,ht,wt,forty,bench,vertical,broad_jump,cone,shuttle
0,2018,2018.0,San Francisco 49ers,2.0,44.0,PettDa00,dante-pettis-1,Dante Pettis,WR,Washington,6-0,186.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,2018.0,Indianapolis Colts,2.0,52.0,TuraKe00,kemoko-turay-1,Kemoko Turay,EDGE,Rutgers,6-5,253.0,4.65,NaN,NaN,NaN,NaN,NaN
2,2018,NaN,NaN,NaN,NaN,AdamJo03,josh-adams-2,Josh Adams,RB,Notre Dame,6-2,213.0,NaN,18.0,NaN,NaN,NaN,NaN
3,2018,NaN,NaN,NaN,NaN,NaN,NaN,Ola Adeniyi,EDGE,Toledo,6-2,248.0,4.83,26.0,31.5,NaN,7.21,4.28
4,2018,2018.0,Houston Texans,3.0,98.0,AkinJo00,jordan-akins-1,Jordan Akins,TE,Central Florida,6-3,249.0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
player_data.dtypes

season           int64
draft_year     float64
draft_team      object
draft_round    float64
draft_ovr      float64
pfr_id          object
cfb_id          object
player_name     object
pos             object
school          object
ht              object
wt             float64
forty          float64
bench          float64
vertical       float64
broad_jump     float64
cone           float64
shuttle        float64
dtype: object

In [21]:
player_data.describe()

,season,draft_year,draft_round,draft_ovr,wt,forty,bench,vertical,broad_jump,cone,shuttle
count,1797.000000,1075.000000,1075.000000,1075.000000,1773.000000,1429.000000,1126.000000,1392.000000,1357.000000,982.000000,1027.000000
mean,2020.057874,2019.998140,3.822326,117.219535,239.948675,4.740364,19.787744,33.109052,117.100221,7.279511,4.436407
std,1.382757,1.414871,1.897039,71.239506,45.413863,0.297032,6.292731,4.213948,8.974989,0.395900,0.254253
min,2018.000000,2018.000000,1.000000,1.000000,144.000000,4.230000,4.000000,19.500000,82.000000,6.280000,3.940000
25%,2019.000000,2019.000000,2.000000,56.000000,203.000000,4.510000,15.000000,30.500000,112.000000,7.000000,4.260000
50%,2020.000000,2020.000000,4.000000,113.000000,228.000000,4.650000,19.500000,33.500000,118.000000,7.190000,4.390000
75%,2021.000000,2021.000000,5.000000,174.000000,271.000000,4.920000,24.000000,36.000000,123.000000,7.500000,4.580000
max,2022.000000,2022.000000,7.000000,262.000000,384.000000,5.850000,44.000000,46.500000,141.000000,8.820000,5.380000

In [22]:
player_data.isnull().sum()

season           0
draft_year     722
draft_team     722
draft_round    722
draft_ovr      722
pfr_id         229
cfb_id         116
player_name      0
pos              0
school           0
ht              29
wt              24
forty          368
bench          671
vertical       405
broad_jump     440
cone           815
shuttle        770
dtype: int64

# Preprocessing Data

## Injury Data

### Missing Values

#### Report Primary Injury

In [39]:
print(injury_data['report_primary_injury'].value_counts(dropna=False))
print('---')
print(injury_data['report_primary_injury'].value_counts(dropna=False, normalize=True))
print('---')
print()
print("NOTE:  I'm thinking we can rename the NAN values to 'No Injury'")

report_primary_injury
NaN                    2937
Knee                    432
Ankle                   415
Hamstring               326
Concussion              170
                       ...
right Quadricep           1
right Groin               1
Appendix                  1
Hernia                    1
toe, pec, knee, hip       1
Name: count, Length: 66, dtype: int64
---
report_primary_injury
NaN                    0.516895
Knee                   0.076030
Ankle                  0.073038
Hamstring              0.057374
Concussion             0.029919
                         ...
right Quadricep        0.000176
right Groin            0.000176
Appendix               0.000176
Hernia                 0.000176
toe, pec, knee, hip    0.000176
Name: proportion, Length: 66, dtype: float64
---

NOTE:  I'm thinking we can rename the NAN values to 'No Injury'

#### Report Secondary Injury

In [43]:
# print(injury_data['report_secondary_injury'].value_counts(dropna=False))
print('---')
print(injury_data['report_secondary_injury'].value_counts(dropna=False, normalize=True))
print('---')
print()
print("NOTE:  I'm thinking we can drop the Secondary Injury column since it's mostly NaN values")

---
report_secondary_injury
NaN                                     0.964977
Ankle                                   0.005456
Knee                                    0.004928
Illness                                 0.003872
Hip                                     0.001760
Back                                    0.001760
Shoulder                                0.001408
Not injury related - resting player     0.001408
Foot                                    0.001056
Wrist                                   0.001056
Hamstring                               0.000880
Neck                                    0.000880
Abdomen                                 0.000704
Achilles                                0.000704
Calf                                    0.000704
Quadricep                               0.000704
Hand                                    0.000704
Not injury related - personal matter    0.000704
Heel                                    0.000528
Pectoral                                0.000528
Ribs                                    0.000528
Toe                                     0.000528
Nose, Back                              0.000352
Oblique                                 0.000352
Rib                                     0.000352
Elbow Knee                              0.000352
Groin                                   0.000352
right Finger                            0.000352
Knee / Hamstring                        0.000176
Concussion                              0.000176
elbow, knee                             0.000176
Biceps                                  0.000176
Glute                                   0.000176
nose, back                              0.000176
Pec / Knee                              0.000176
Back, Ankle                             0.000176
Back Foot                               0.000176
Pec, Knee                               0.000176
Elbow                                   0.000176
Shin                                    0.000176
Name: proportion, dtype: float64
---

NOTE:  I'm thinking we can drop the Secondary Injury column since it's mostly NaN values

#### Report Status

In [47]:
print(injury_data['report_status'].value_counts(dropna=False))
print('---')
print(injury_data['report_status'].value_counts(dropna=False, normalize=True))
print('---')
print()
print("NOTE:  I'm thinking we can leave the status column as is.\n There is a direct correlation to the NAN and the 'No Injury' values.")

report_status
NaN             2937
Questionable    1511
Out             1078
Doubtful         156
Name: count, dtype: int64
---
report_status
NaN             0.516895
Questionable    0.265927
Out             0.189722
Doubtful        0.027455
Name: proportion, dtype: float64
---

NOTE:  I'm thinking we can leave the status column as is.
 There is a direct correlation to the NAN and the 'No Injury' values.

#### Practice Status

In [51]:
print(injury_data['report_status'].value_counts(dropna=False))

report_status
NaN             2937
Questionable    1511
Out             1078
Doubtful         156
Name: count, dtype: int64

#### Practice Primary Injury

In [48]:
print(injury_data['practice_primary_injury'].value_counts(dropna=False))
print('---')
print(injury_data['practice_primary_injury'].value_counts(dropna=False, normalize=True))
print('---')
print()
# print("NOTE:  I'm thinking we can leave the status column as is.\n There is a direct correlation to the NAN and the 'No Injury' values.")

practice_primary_injury
Knee                                   787
Ankle                                  692
Not injury related - resting player    636
Hamstring                              467
Illness                                362
                                      ...
lower leg cramps                         1
left Knee                                1
ankle, knee, elbow                       1
shoulder, biceps, hand                   1
Ankles                                   1
Name: count, Length: 81, dtype: int64
---
practice_primary_injury
Knee                                   0.138508
Ankle                                  0.121788
Not injury related - resting player    0.111932
Hamstring                              0.082189
Illness                                0.063710
                                         ...
lower leg cramps                       0.000176
left Knee                              0.000176
ankle, knee, elbow                     0.000176
shoulder, biceps, hand                 0.000176
Ankles                                 0.000176
Name: proportion, Length: 81, dtype: float64
---

#### Practice Secondary Injury

In [50]:
print(injury_data['practice_secondary_injury'].value_counts(dropna=False))
print('---')
print(injury_data['practice_secondary_injury'].value_counts(dropna=False, normalize=True))
print('---')
print()
# print("NOTE:  I'm thinking we can leave the status column as is.\n There is a direct correlation to the NAN and the 'No Injury' values.")

practice_secondary_injury
NaN                               5277
Knee                                64
Ankle                               62
Not injury related - resting p      44
Illness                             28
Back                                21
Shoulder                            20
Hip                                 15
Hamstring                           10
Rib                                  9
Quadricep                            9
Wrist                                9
Ribs                                 9
Elbow                                9
Foot                                 8
Toe                                  8
Groin                                7
Neck                                 7
Abdomen                              6
Heel                                 6
Not injury related - personal        6
Achilles                             5
Glute                                4
Biceps                               4
Calf                                 4
Hand                                 4
right Finger                         3
Pectoral                             3
Nose, Back                           2
Oblique                              2
Elbow Knee                           2
right Elbow                          2
Knee / Hamstring                     1
Forearm                              1
Concussion                           1
elbow, knee                          1
Chest                                1
nose, back                           1
Elbow Ankle                          1
Thigh                                1
Pec / Knee                           1
Back, Ankle                          1
Back Foot                            1
Pec, Knee                            1
Shin                                 1
Name: count, dtype: int64
---
practice_secondary_injury
NaN                               0.928722
Knee                              0.011264
Ankle                             0.010912
Not injury related - resting p    0.007744
Illness                           0.004928
Back                              0.003696
Shoulder                          0.003520
Hip                               0.002640
Hamstring                         0.001760
Rib                               0.001584
Quadricep                         0.001584
Wrist                             0.001584
Ribs                              0.001584
Elbow                             0.001584
Foot                              0.001408
Toe                               0.001408
Groin                             0.001232
Neck                              0.001232
Abdomen                           0.001056
Heel                              0.001056
Not injury related - personal     0.001056
Achilles                          0.000880
Glute                             0.000704
Biceps                            0.000704
Calf                              0.000704
Hand                              0.000704
right Finger                      0.000528
Pectoral                          0.000528
Nose, Back                        0.000352
Oblique                           0.000352
Elbow Knee                        0.000352
right Elbow                       0.000352
Knee / Hamstring                  0.000176
Forearm                           0.000176
Concussion                        0.000176
elbow, knee                       0.000176
Chest                             0.000176
nose, back                        0.000176
Elbow Ankle                       0.000176
Thigh                             0.000176
Pec / Knee                        0.000176
Back, Ankle                       0.000176
Back Foot                         0.000176
Pec, Knee                         0.000176
Shin                              0.000176
Name: proportion, dtype: float64
---

### Recommended Columns

In [69]:
injury_cols = ['season', 'team', 'week', 'gsis_id', 'full_name', 'position', 'report_status', 'report_primary_injury', 'report_secondary_injury', 'practice_status', 'practice_primary_injury', 'practice_secondary_injury', 'date_modified']

print('I would like to rename the columns to make them easier to work with.\nI would also like to change the dtype of the date_modified column to datetime24')


injury_data[injury_cols].head()

I would like to rename the columns to make them easier to work with.
I would also like to change the dtype of the date_modified column to datetime24

,season,team,week,gsis_id,full_name,position,report_status,report_primary_injury,report_secondary_injury,practice_status,practice_primary_injury,practice_secondary_injury,date_modified
0,2022,ARI,1,00-0027993,Rodney Hudson,C,NaN,NaN,NaN,Did Not Participate In Practice,Not injury related - resting player,NaN,2022-09-07 21:10:03+00:00
1,2022,ARI,1,00-0028946,Aaron Brewer,LS,NaN,NaN,NaN,Full Participation in Practice,Ankle,NaN,2022-09-09 19:55:06+00:00
2,2022,ARI,1,00-0032127,Markus Golden,LB,NaN,NaN,NaN,Full Participation in Practice,Toe,NaN,2022-09-09 19:55:29+00:00
3,2022,ARI,1,00-0034490,Ezekiel Turner,LB,NaN,NaN,NaN,Full Participation in Practice,Shoulder,NaN,2022-09-09 19:55:44+00:00
4,2022,ARI,1,00-0035924,Jonathan Ward,RB,NaN,NaN,NaN,Full Participation in Practice,Shoulder,NaN,2022-09-09 19:55:49+00:00

## Team Data
There are a lot of column that contain ID information not needed for this project. We will drop those columns and keep the following columns:

Data Modeling Columns:
- sesaon
- team
- postion
- **player_id** (if this is the foreign key for gsis_id in the player data)


Data Visulaization Columns (Streamlit):
- jersey_number
- status
- player_name
- weight
- height
- college
- years_exp
- headshot_url
- age
- Team

### Missing Values

### Column contents

In [65]:
team_data['status'].value_counts(dropna=False)
team_data['player_name'].value_counts(dropna=False)
team_data['years_exp'].value_counts(dropna=False)
#May need to evaluate the player_id and gsis_id column to see if they are foreign keys to other tables
print(team_data['player_id'].value_counts(dropna=False, ascending=False))
print(injury_data['gsis_id'].value_counts(dropna=False, ascending=False))

player_id
NaN           27
00-0034951    21
00-0036913    21
00-0027952    21
00-0036637    20
              ..
00-0036481     1
00-0034995     1
00-0034996     1
00-0034998     1
00-0036444     1
Name: count, Length: 3134, dtype: int64
gsis_id
00-0032954    19
00-0034381    19
00-0030561    19
00-0037002    19
00-0028129    19
              ..
00-0036603     1
00-0031806     1
00-0033881     1
00-0033217     1
00-0038112     1
Name: count, Length: 1418, dtype: int64

### Recommended Columns

## Player Data